<h1>Zutaten</h1>

<%= link_to "New ingredient", new_ingredient_path if authenticated? %> <br>
<%= link_to "Back to resepies", recipes_path %><br>
<%= link_to "Home", root_path %>

<ul>
  <% @ingredients.each do |ingredient| %>
    <li>
      <%= link_to ingredient.name, ingredient %>
    </li>
  <% end %>
</ul>


